/*selector{
	Property: value;
}*/
body{
	background-color: rgba(255,0,0,0.3);
}

h1{
	color: red;
	text-align: center;
	border: 3px dotted violet;
	background: yellow;

}

h3{
	color: black;
	background-color: rgba(255,255,255,0.3);
}

li{
	list-style: none;

}